<article class="blog " data-page="blog">
    <header>
        <h2 class="h2 article-title">Blog</h2>
    </header>

    <section class="blog-posts">
        <ul class="blog-posts-list">
            <li class="blog-post-item">
                <a href="#">
                        <figure class="blog-banner-box">
                            <img src="/images/1.jpeg" alt="Design conferences in 2024" loading="lazy">
                        </figure>

                        <div class="blog-content">
                            <div class="blog-meta">
                                <p class="blog-category">Gaming Design</p>
                                <span class="dot"></span>
                                <time datetime="2024-02-23">Feb 23, 2024</time>
                            </div>
                        
                            <h3 class="h3 blog-item-title">Gaming Design Conferences</h3>
                            <p class="blog-text">several thrilling gaming design conferences are on the horizon, offering game developers, designers, and enthusiasts the chance to connect and explore cutting-edge trends.</p>
                        </div>
                        
                </a>
            </li>

            <li class="blog-post-item">
                <a href="#">
                    <figure class="blog-banner-box">
                        <img src="/images/2.jpeg" alt="Best fonts every designer" loading="lazy">
                    </figure>


                    <div class="blog-content">
                        <div class="blog-meta">
                            <p class="blog-category">Arcane</p>
                            <span class="dot"></span>
                            <time datetime="2024-01-29">Jan 29, 2024</time>
                        </div>
                    
                        <h3 class="h3 blog-item-title">Jinx & Vai Collection</h3>
                        <p class="blog-text">The Arcane movie captivates audiences with its stunning visuals, compelling story, and deep exploration of beloved characters, making it a must-watch for fans and newcomers alike.</p>
                    </div>
                    
                </a>
            </li>

            <li class="blog-post-item">
                <a href="#">
                    <figure class="blog-banner-box">
                        <img src="/images/3.jpeg" alt="Design digest #80" loading="lazy">
                    </figure>

                    <div class="blog-content">
                        <div class="blog-meta">
                            <p class="blog-category">Crypto Investment</p>
                            <span class="dot"></span>
                            <time datetime="2023-12-20">Dec 20, 2023</time>
                        </div>
                    
                        <h3 class="h3 blog-item-title">Crypto Investment Digest</h3>
                        <p class="blog-text">Hello, investors! In this Crypto Investment Digest, I’ll share a curated collection of the latest trends, strategies, and insights in the world of cryptocurrency investment.</p>
                    </div>
                    
                </a>
            </li>

            <li class="blog-post-item">
                <a href="#">
                    <figure class="blog-banner-box">
                        <img src="/images/4.jpeg" alt="2023 UI interactions" loading="lazy">
                    </figure>

                    <div class="blog-content">
                        <div class="blog-meta">
                            <p class="blog-category">Design</p>
                            <span class="dot"></span>
                            <time datetime="2023-11-29">Nov 29, 2023</time>
                        </div>

                        <h3 class="h3 blog-item-title">2023 UI interactions</h3>
                        <p class="blog-text">As we move into 2024, 2023 was marked by the rapidly evolution of the landscape of UI interactions, driven by advancements in technology and user expectations.</p>
                    </div>
                </a>
            </li>

            <li class="blog-post-item">
                <a href="#">
                    <figure class="blog-banner-box">
                        <img src="/images/5.jpeg" alt="The forgotten art of spacing" loading="lazy">
                    </figure>

                    <div class="blog-content">
                        <div class="blog-meta">
                            <p class="blog-category">NFTs</p>
                            <span class="dot"></span>
                            <time datetime="2023-11-12">Nov 12, 2023</time>
                        </div>
                    
                        <h3 class="h3 blog-item-title">The Art of Minting NFTs</h3>
                        <p class="blog-text">In the world of NFTs, the process of minting is often overlooked yet plays a pivotal role in the creation and ownership of digital assets. This post will explore the importance of proper minting strategies, understanding blockchain technology.</p>
                    </div>
                    
                </a>
            </li>

            <li class="blog-post-item">
                <a href="#">
                    <figure class="blog-banner-box">
                        <img src="/images/6.jpeg" alt="Design digest #79" loading="lazy">
                    </figure>

                    <div class="blog-content">
                        <div class="blog-meta">
                            <p class="blog-category">Forex</p>
                            <span class="dot"></span>
                            <time datetime="2023-10-20">Oct 20, 2023</time>
                        </div>
                    
                        <h3 class="h3 blog-item-title">Forex Digest</h3>
                        <p class="blog-text">Hi, traders. In this Forex Digest, I'll focus on the tools and resources we use daily to enhance our trading strategies. I'll share software recommendations, online courses, and communities that support forex traders in learning and improving their skills.</p>
                    </div>
                    
                </a>
            </li>
        </ul>
    </section>
</article>
